*{
  padding :0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background:#FFFFFF;
  height: 80px;
  width:1440px; 
}
label.logo{
  top: 30px;
  left: 119px;
  width: 108px;
  height: 27px;
  text-align: left;
  font: normal normal 900 20px/27px Avenir;
  letter-spacing: 1.8px;
  color: #5861AE;
  text-transform: uppercase;
  opacity: 1;
}
nav ul {
  float:right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}
nav ul li a{
  color: #565657;
  font-size:17px;
}
a.active,a:hover{
  background: #FFFFFF;
  transition: .5s;
}
